body { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
}
.header {
  background-color: #1F2937;
  color: #F9FAF9;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
 }
 a { text-decoration: none;
  color: #F9FAF8;
  margin: 10px;
 }
 .body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;

 }
 .block1 {
  flex-grow: 1;
  background-color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
 
 }
 .con {
  font-size: 18px; 
}
 .header2 {
  font-size: 48px;
  font-weight: bold;
  

 }
 .subtext {
  font-size: 18px;
  color: #e5e7eb;
  max-width: 500px;
 }
 button {
  background-color: #3882f6;
  color: white;

 }
 img {
    width: 200px;
    height: auto;
    
  }
  .block2-1 {
    flex-grow: 1;
    margin: 0;
  }
  .block2 {
  display: flex;
  justify-content: center;
  text-align: center;
  }
  .header3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    flex-grow: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 50px;
  }
  .text {
    
  }
  .block3 {
    flex-grow: 1;
    background-color: #e5e7eb;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 50px;
  }
  .quote {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding-bottom: 20px;
  }
  .cred {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

  }
  .pop {
    

  }
  .up {

  }
  .block4 {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .block4-1 {
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3882f6;
    padding: 50px;
    column-gap: 50px;
  }
  .mop {
    
  }
  .bucket {
    
  }
  .button {

  }
  .footer {
  
  padding: 16px;
  background-color: #1F2937;
  color: white;


  }

